// It's highly recommended to change the default colors
// to match your app's branding.

:root {
    --vue-green: #42b681;
    --vue-blue: #35485d;
    --debricked-gradient: linear-gradient(to right top, #5151ef, #5142db, #5033c7, #4d23b4, #490fa1);
    --content-font-size: 20px;
    --sidebar-font-size: 25px;
    --sidebar-icon-size: 2rem;
}

